### node etc ###

# Keys and Passwords
config
config.js
aws-mvp.pem
.env

# Logs
logs
*.log

# Compiled Files
react-client/dist/bundle.js

# Data
pitstopdata.csv

# Dependency directorys
# Deployed apps should consider commenting these lines out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules/
bower_components/

# Floobits
.floo
.floobit
.floo
.flooignore
